.main {
    text-align: center;
}

body {
    background-color: #1d293f;
    background-size: cover;
}

.calendar {
    margin: 40px;
}

.admin {
    text-align: center;
    background-color: #1d293f;;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

button.ui.admin-button {
    width: 200px;
    margin: 10px;
}