.main {
    text-align: center;
}

body {
    background-color: #1d293f;
    background-size: cover;
}

.calendar {
    margin: 40px;
}

.content {
    background-color: "#282c34" !important;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
